<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    <span>HamisiApp</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/home"> <mat-icon>home</mat-icon>Home</a>
      <a mat-list-item routerLink="/about"><mat-icon>code</mat-icon>About</a>
      <a mat-list-item routerLink="/services"
        ><mat-icon>code</mat-icon>Services</a
      >
      <a mat-list-item routerLink="/contact"
        ><mat-icon>call</mat-icon> Contact</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 90vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
